<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="/bootstrap/dist/css/bootstrap.css"
rel="stylesheet" type="text/css">
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: #86968b"
    >
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
        <img src="images/logo.png" height="35" alt="CoolBrand" />
        </a>
        <button
        type="button"
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse9"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse9">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active">Смешарики</a>
            <a href="/krosh" class="nav-item nav-link">Крош</a>
            <a href="/nyusha" class="nav-item nav-link">Нюша</a>
            <a href="/pin" class="nav-item nav-link">Пин</a>
            <a href="/kopatych" class="nav-item nav-link">Копатыч</a>
            <a href="/losyash" class="nav-item nav-link">Лосяш</a>
        </div>
        <div class="navbar-nav ms-auto">
            <a href="#" class="nav-item nav-link">Вход</a>
        </div>
        </div>
    </div>
    </nav>
<%- body %>
</body>
</html>